/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: " ";
  display-combi: "  ";
  modes: [ combi ];
  combi-modes: [ window, drun, run, filebrowser, ssh ];
}

@theme "themes/nord.rasi"
