@import "includes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "sans";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @base;
}

#workspaces,
#window,
#wireplumber,
#memory,
#network,
#tray,
#clock {
  background: @base;
  padding: 0px 7px;
  margin: 10px 10px 0px 10px;
}

#workspaces {
  background: @base;
  margin-left: 10px;
  padding-right: 0px;
}

#workspaces button {
  padding: 5px;
  color: @highlightmed;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @surface;
  background: @love;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
}

#workspaces button:hover {
  background: @highlightlow;
  color: @text;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
}

#network {
  color: @love;
}

#clock {
  color: @text;
  background: @pine;
  margin-right: 10px;
}

#memory {
  color: #3e8fb0;
}

#wireplumber {
  color: @iris;
}
