@import "./includes/tokyonight.css";

* {
  font-size: 17px;
}

window#waybar {
  background: @bg;
  color: @fg;
}

#network,
#memory,
#disk,
#wireplumber,
#tray,
#clock,
#custom-icon {
  padding: 0 10px;
  color: @black;
}

#custom-icon {
  background: @cyan;
}

#network {
  background: @red;
}

#memory {
  background: @yellow;
}

#disk {
  background: @green;
}

#wireplumber {
  background: @blue;
}

#tray {
  background: @black;
}

#clock {
  background: @magenta;
}

#workspaces {
  animation-duration: 0s;
}

#workspaces button {
  color: @fg;
  padding: 3px 0;
  border: 0px;
  border-radius: 0px;
}

#workspaces button.focused {
  color: @cyan;
}
